


.hero-image {
  
  background-image: linear-gradient(#eeaeca, #94e9d5);
  height:55vh;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  border-radius: 10px;
  
}


#clock {
   font-size: 50px;
   color:  #000;
   font-family: 'Arial';
   border: 1px solid;
   border-radius: 10px;    
   margin: auto;  
}

footer {
  background: #AEBBC9;
  width: 100%;
  padding: 16px 0px;
  color: #000;
  vertical-align: bottom;
  margin-top: 10px;
  text-align: center;


}

h1{
   color:#000;
   font-family: 'Tangerine';
   font-size: 10rem;
}


#quote{
   font-family: 'Tangerine', Courier, monospace;
   color:#000;
   font-size: 2.2rem; 
}

#day{
   font-family: 'Arial', Helvetica, sans-serif;
   color: #000;
   margin: 20px ;
   font-size: 1rem;
}

/* Page Pre-loader */

.wrapper{
   position:fixed;
   inset: 0;
   z-index: 9999;
   background-color: #fff;
   display: grid;
   place-items: center;
   transition: opacity .25s, visibility 1s;
   
}
.fade{
   opacity: 0;
   visibility: hidden;
}

